<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hzwei.mingxiang.droidplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MovieList"
            android:label="@string/app_name" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="keyboardHidden|orientation" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyVideoPlayer"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_title"
            android:screenOrientation="landscape" >
 
        </activity> 
        <service
            android:name=".FloatingService"
            android:enabled="true" >
        </service>

        <!--
       广播静态注册    

        <receiver android:name=".MyBroadcastReceiver">  

                <intent-filter>  

                    <action android:name="android.intent.action.MyVideoPlayer"></action>  

                    <category android:name="android.intent.category.LAUNCHER" />  

                </intent-filter>  

        </receiver>
        -->
    </application>

</manifest>